{% extends 'basic.html' %}
{% load static %}
{% block title %} About {% endblock %}
{% block body %}
<div class="container">

    <div class="media">

        <img src="{% static 'images/hos.jpg' %}" height="350" width="350" class="mt-5">
        <div class="media-body">
            <h2 style="color:green" class="text-center mt-5"> SMM Hospital </h2>

     <p class="text-center mt-5" > A sense of humor is an indispensable in any life situation. A great laugh is the best panacea for psychological distress, and sharing your comedic talent with a hospitalized person is a remarkable display of humanitarianism.
         Perhaps you may choose to spread happiness to more than one person this World Humanitarian Day. </p>
    </div>
        </div>

</div>

{% endblock %}