{% extends 'basic.html' %}
{% block title %} Contact {% endblock %}


{% block body %}

<div class="container">
    <h2 class="text-center" style="margin-top:50px;">Contact Us</h2>
    <br> <br>
    <div class="row text-center">
        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="fas fa-phone-square" target="_blank"></i> contact</h4>
            <p class="mt-3 font-weight-bold"><a href="tel:+91 9022721275">+91 9022721275</a></p>

        </div>

        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="fas fa-envelope"></i> send Email</h4>
            <p class="mt-3 font-weight-bold"><a href="mailto:mehboob61923@gmail.com" target="_blank">mehboob61923@gmail.com</a></p>

        </div>
        <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="fas fa-address-card"></i> office Address</h4>
            <p class="mt-3 font-weight-bold"><a href="https://maps.google.com/maps?=mumbra+thane+Maharashtra" target="_blank">Mumbra,Thane Maharashtra</a></p>

        </div>
           <div class="col-lg-3 col-sm-6 mydivstyle">
            <h4><i class="fas fa-address-card"></i> office Time</h4>
            <p class="mt-3 font-weight-bold" style="color:#1e88dc"> 9:00AM to 5:00PM</p>

        </div>


    </div>


</div>


{% endblock %}