{% extends 'basic.html' %}
{% block title %} Login {% endblock %}

{% block body %}
{% ifequal error "no" %}
<script>
    alert('New record created successfully');
    window.location = ('{% url 'viewdoc' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Try again...There is something wrong');
</script>
{% endifequal %}


<div class="container">
    <h2 class="text-center"> Update Doctor Record</h2>

    <form action="/editdoc/{{doc.id}}" method="post">
        {% csrf_token %}
        <label>Doctor Name:</label>
        <input type="text" class="form-control" name="name" value="{{doc.name}}">
        <label> Mobile No: </label>
        <input type="tel" class="form-control" name="contact" value="{{doc.mobile}}">

        <label> Specialization: </label>
        <input type="text" class="form-control" name="special" value="{{doc.special}}">
        <br>
        <input type="submit" value="update" class="form-control btn btn-primary">


    </form>


</div>



{% endblock %}